$font_regular: Inter;
$font_bold: Inter;

$color_text_primary: #000;

$border_color: #d5e0d5;
$border_radius: 16px;

$cont_width_lg: 1000px;
$cont_width_md: 600px;
$cont_width_sm: calc(100% - 30px);

$cont_pad_side_lg: 50px;
$cont_pad_top_lg: 50px;
$cont_pad_bottom_lg: 50px;

$cont_pad_side_md: 50px;
$cont_pad_top_md: 50px;
$cont_pad_bottom_md: 50px;

$cont_pad_side_sm: 20px;
$cont_pad_top_sm: 50px;
$cont_pad_bottom_sm: 50px;

$h1_font_size_lg: 32px;
$h1_font_size_md: 32px;
$h1_font_size_sm: 32px;

$btn_color: #001e00;
$btn_text_color: #fff;

$form_label_color: #5a5a5a;

$input_border_color: #8b8a8b;

$input_border_color_focus_h: 113;
$input_border_color_focus_s: 100%;
$input_border_color_focus_l: 33%;

$input_info_error_color: #9b211b;

$page_margin_top_lg: 50px;
$page_margin_bottom_lg: 50px;

$page_margin_top_md: 40px;
$page_margin_bottom_md: 40px;

$page_margin_top_sm: 30px;
$page_margin_bottom_sm: 30px;
